<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>For testing</title>
</head>
<body>
    <center><a href="loginsample"><button>Go to login page</button></a></center>
</body>
</html>